@model CSI_Media_Philip_Mottershesd.Models.SortedNumbers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SortedNumbers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SortOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SortOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeTaken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeTaken)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SortedNumbersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
