@model IEnumerable<CSI_Media_Philip_Mottershesd.Models.SortedNumbers>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SortOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeTaken)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numbers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeTaken)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SortedNumbersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SortedNumbersId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SortedNumbersId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
