<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - @Localizer["ProjectName"] </title>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body class="">
        <header class="masthead mb-auto">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">@Localizer["ProjectName"]</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="SortedNumbers" asp-action="Index">@Localizer["PreviousSorts"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="SortedNumbers" asp-action="Create">@Localizer["SortNumberNavLabel"]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
            <div class="container">
                <main role="main" class="">
                    @RenderBody()
                </main>
            </div>

            <footer class="border-top footer text-muted text-center">
                <div class="container">
                    &copy; @DateTime.Now.Year - @Localizer["ProjectName"]
                </div>
            </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/popper.min.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
